<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>mntn</title>
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </head>

    <body>
        <div class="container">
            <%= render Monoton.SharedView, "_nav.html", assigns %>
            <%= render @view_module, @view_template, assigns %>
        </div>
    </body>
</html>
